

body{


      .hero{
    background-color: rgba(240, 69, 17, 0.904);
color: rgb(27, 4, 82);
}
.head{background-color: rgb(121, 252, 245);
    color :black
width;10cm;
height: 1cm;}

    color :white;
background-image: url(assets/images/web.small.jpg);
    background-repeat:no-repeat;
background-size: cover;
    background-attachment: fixed;
    background-clip: content-box;
    background-position: center;

.}
